.basic-tooltip {
    position: relative;
    display: inline-block;
    height: min-content
  }
  
  .basic-tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .basic-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /* Estilos para las diferentes posiciones */
  .basic-tooltip .tooltiptext.top {
    bottom: calc(100% + 10px);
    margin-bottom: 5px;
  }
  
 
  
  .basic-tooltip .tooltiptext.bottom {
    top: calc(100% + 10px);
    margin-top: 5px;
  }
  .basic-tooltip .tooltiptext.topCenter {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.basic-tooltip .tooltiptext.bottomCenter {
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

  .basic-tooltip .tooltiptext.left {
    right: calc(100% + 10px);
    margin-right: 5px;
  }
  
 .basic-tooltip .tooltiptext.right {
    left: calc(100% + 10px);
    margin-left: 5px;
  }
  
  .basic-tooltip .tooltiptext.center {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }