.tooltip {
    position: relative;
    display: inline-block;
    min-height: max-content;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /* Estilos para las diferentes posiciones */
  .tooltiptext.top {
    bottom: calc(100% + 10px);
    margin-bottom: 5px;
  }
  
  .tooltiptext.top.center {
    top: inherit;
    bottom: calc(100% + 10px);
    right: 0;
    left: 0;
    margin: auto;
  }
  
  .tooltiptext.bottom {
    top: calc(100% + 10px);
    margin-top: 5px;
  }
  
  .tooltiptext.bottom.center {
    bottom: inherit;
    top: calc(100% + 10px);
    margin: auto;
  }
  
  .tooltiptext.left {
    right: calc(100% + 10px);
    margin-right: 5px;
  }
  
  .tooltiptext.right {
    left: calc(100% + 10px);
    margin-left: 5px;
  }
  
  .tooltiptext.center {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }